<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>This is not the page you're looking for</title>
  <link rel='stylesheet' href='/stylesheet.css' type='text/css' media="screen, projection">
</head>
<body>
<div id='message'>
  <div class='header'>Access denied</div>
  You attemped <span class='hits'><%= @new_count %></span> hits to <%= @host %> today alone. Better get to work.
</div>

</body>
</html>
